<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="FileTransferServiceEndpoint"
    		address="http://localhost:2112"
    		binding="wsHttpBinding"
    		contract="Contracts.IFileTransferService" />
    </client>
    <bindings>
      <wsHttpBinding>
        <binding>
          <reliableSession enabled="true"/>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>